.main-view {
  width: 100%;
  height: calc(100vh - 72px);
  position: relative;
  background-color: #F8F8F8;
}

@media screen and (min-width: 1921px) {
  .main-view {
    height: 1009px;
  }
}

.main-view-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.main-view-block {
  max-width: 1920px;
  width: 100%;
  height: 100%;
}

.main-view-content {
  display: flex;
  width: 100%;
  height: 100%; 
}

.main-offer__left {
  color: #34343D;
  margin-left: 60px;
  margin-top: 70px;
  width: calc(100% - 780px);
}

.main-offer__right {
  width: 780px;
  height: 100%;
  background-color: #123974E5;
  position: relative;
}

.left-content {
  text-align: left;
  max-width: 917px;
}

.offer-button {
  width: 287px;
  height: 72px;
  background-color: #122E74;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}

.offer-description-1 {
  font-size: 72px;
  font-weight: 600;
  line-height: 72px;
}

.offer-description-1 span {
  color: #122E74;
}

.offer-description-2 {
  font-family: Manrope;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #34343D;
  margin-top: 32px;
  margin-bottom: 52px;
  max-width: 445px;
}

.offers-list-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.offers-list {
  display: flex;
  justify-content: space-between;
  margin:  0 60px;
}

.offer-item {
  max-width: 360px;
  width: 100%;
  height: 200px;
  color: white;
  display: flex;
  background-color: white;
  padding: 24px 32px;
  text-align: left;
}

.offer-item--first {
  background: url(../../../../assets/car2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.offer-item--second,
.offer-item--third,
.offer-item--forth {
  border-right: 1px solid #DCDCDCB2
}

.offer-item__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  color: #122E74;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
}

.offer-item__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #34343D;
  margin-top: 12px;
}

.car-block {
  position: absolute;
  right: 0;
  bottom: 220px;
}
.wheel {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1920px) {
  .car-block img {
    width: 1300px;
  }
}

@media screen and (max-width: 1700px) {
  .car-block img {
    width: 1200px;
  }
  .offer-description-1 {
    width: 600px;
    font-size: 58px;
  }

  .offer-item {
    height: 180px;
    padding: 15px 20px;
  }
  .offer-item__title {
    font-size: 22px;
  }
  .offer-item__description {
    font-size: 14px;
  }
  .offer-description-2 {
    font-size: 18px;
    max-width: 400px;
  }
  .offer-button {
    width: 267px;
  }
}

@media screen and (max-width: 1600px) {
  .car-block {
    bottom: 200px;
  }

  .main-offer__left {
    width: calc(100% - 680px);
  }
  .main-offer__right {
    width: 680px;
  }
}

@media screen and (max-width: 1500px) {
  .car-block {
    bottom: 180px;
  }

  .car-block img {
    width: 1100px;
  }
  .offer-item__title {
    font-size: 20px;
    height: 30px;
  }

  .offer-item__title svg {
    height: 30px;
  }
}

@media screen and (max-width: 1440px) {
  .offer-description-1 {
    width: 500px;
    font-size: 48px;
    line-height: 58px;
  }

  .offer-description-2 {
    font-size: 16px;
    max-width: 300px;
  }

  .offer-button {
    width: 247px;
    height: 62px;
  }
}

@media screen and (max-width: 1400px) {
  .car-block {
    bottom: 160px;
  }
  .car-block img {
    width: 1000px;
  }

  .offer-item {
    height: 160px;
  }

  .offer-description-1 {
    width: 500px;
    font-size: 48px;
    line-height: 58px;
  }
  .offer-item--first {
    display: none;
  }

  .main-offer__left {
    width: calc(100% - 580px);
  }
  .main-offer__right {
    width: 580px;
  }
}

@media screen and (max-width: 1400px) {
  .car-block img {
    width: 900px;
  }
}

@media screen and (max-width: 1300px) {
  .main-offer__left {
    margin-top: 40px;
  }
}

@media screen and (max-width: 1200px) {
  .car-block img {
    width: 800px;
  }
  .offer-description-1 {
    font-size: 44px;
    line-height: 48px;
  }
  .offer-description-2 {
    margin-top: 22px;
    margin-bottom: 36px;
  }

  .offer-item__description {
    font-size: 12px;
    line-height: 18px;
  }
  .offer-item__title {
    font-size: 18px;
  }

  .main-offer__left {
    width: calc(100% - 480px);
  }
  .main-offer__right {
    width: 480px;
  }
  .offer-item {
    height: 150px;
  }
}

@media screen and (max-width: 1100px) {
  .car-block img {
    width: 700px;
  }
  .main-offer__left {
    width: calc(100% - 380px);
  }
  .main-offer__right {
    width: 380px;
  }
  .offer-item__title {
    font-size: 16px;
  }
  .offer-item {
    padding: 10px 15px;
    height: 140px;
  }
  .offer-item__title svg {
    height: 24px;
  }
  .offer-item__description {
    font-size: 11px;
    line-height: 16px;
  }
  .offer-button {
    width: 207px;
    height: 52px;
    font-size: 16px;
  }
}

@media screen and (max-width: 1400px) and (min-height: 872px) {
  .main-view {
    height: 800px;
  }
}

@media screen and (max-width: 1200px) and (min-height: 722px) {
  .main-view {
    height: 650px;
  }
}

/* @media screen and (max-width: 992px) {
  .main-view {
    height: 1000px;
  }
  .main-view-content {
    flex-direction: column;
    height: 592px;
  }
  .wheel {
    width: 50%;
  }
  .offers-list-wrapper {
    position: relative;
  }

  .main-offer__left {
    width: 100%;
    height: 292px;
  }
  .offer-description-1 {
    font-size: 32px;
    line-height: 32px;
  }
  .main-offer__right {
    width: 100%;
    height: 300px;
  }
  .car-block {
    top: 300px;
    height: 300px;
  }
} */