.menu-wrapper {
  height: 72px;
  align-items: center;
  background-color: white;
  justify-content: center;
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
}

.menu-burger {
  display: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  align-items: center;
  max-width: 1920px;
}

.menu-list {
  margin: 0 60px;
  width: 578px;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  text-transform: uppercase;
}

.menu-item {
  cursor: pointer;
}

.menu-actions {
  display: flex;
  height: 100%;
}

.menu-actions__item {
  width: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-actions__item:first-child {
  border-left: 1px solid #DCDCDC;
  border-right: 1px solid #DCDCDC;
}

.menu-actions__item:last-child {
  background-color: #122E74;
}

@media screen and (max-width: 992px) {
  .menu-wrapper {
    height: 56px;
  }
  .menu-actions__item {
    width: 56px;
  }
}

@media screen and (max-width: 768px) {
  .menu-list {
    display: none;
  }
  .menu-burger {
    width: 56px;
    height: 56px;
    display: block;
  }
  .menu-burger-button {
    width: 100%;
    height: 100%;
    border: none;
    border-right: 1px solid #DCDCDC;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}