.what-can-deliver-root {
  padding: 160px 0;
  width: 100%;
  background-color: #F8F8F8;
}

.what-can-deliver-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.what-can-deliver-block {
  margin: 0 60px;
  max-width: 1800px;
  height: 100%;
}

.deliver-block {
  display: flex;
  background-color: white;
}

.what-can-deliver-root__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
  width: 100%;
}
.what-can-deliver-root__header h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 48px;
  color: #34343D;  
}

.what-can-deliver-root__content {
  width: 100%;
}

.what-can-deliver-root__order button {
  background-color: #122E74;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  display: flex;
  align-items: center;
  height: 72px;
  width: 402px;
  justify-content: center;
  color: white;
}

.deliver-card {
  width: 450px;
  padding: 24px;
  border-right: 1px solid rgba(220, 220, 220, 0.70);
}

.deliver-card:not(:first-child) {
  border-left: 1px solid rgba(220, 220, 220, 0.70);
}
.deliver-card:last-child {
  border-right: none;
}


.deliver-card__block {
  display: flex;
  flex-direction: column;
}

.deliver-card__description {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.deliver-desc__header {
  margin-top: 24px;
  margin-bottom: 12px;
  color: #122E74;
  font-size: 24px;
  font-weight: 600;
}

.deliver-desc__content {
  color: #34343D;
  font-size: 16px;
  font-weight: 400;
}

.deliver-card__image {
  width: 402px;
  height: 287px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deliver-card:last-child .deliver-card__image__img {
  width: 314px;
  height: 224px;
}

.deliver-card__image__img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1920px) {
  .what-can-deliver-block {
    margin: 0;
    max-width: 1920px;
  }

  .what-can-deliver-root {
    padding: 160px 60px;
  }

  .deliver-card {
    max-width: 450px;
    width: 100%;
  }
  .deliver-card__image {
    width: auto;
  }

  .deliver-card:last-child .deliver-card__image__img {
    width: 100%;
    height: 100%;
  }
  .deliver-card__image__img {
    object-fit: contain;
  }
}
@media screen and (max-width: 1400px) {
  .deliver-card__image {
    height: 200px;
  }
}

@media screen and (max-width: 1200px) {
  .what-can-deliver-root__header h1 {
    font-size: 44px;
    line-height: 48px;
  }
  .deliver-card {
    padding: 12px;
  }
  .deliver-desc__header {
    font-size: 18px;
  }
  .deliver-desc__content {
    font-size: 14px;
  }
}